@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: darkgray;
    width: 1000px;
    margin: auto;
}

img {
    width: 900px;
}

header a {
    background-color: black;
    color: white;
    text-align: center;
    border-top: 8px solid white;
    border-bottom: 4px solid white;
    border-left: 4px solid white;
    border-right: 4px solid white;
    margin-top: 1em;
    display: block;
    text-decoration: none;
}

header li:nth-child(odd) a {
    margin-right: 1em;
}

h1 {
    width: 80%;

    text-align: center;
    color: white;
    background-color: teal;
    display: block;
    margin: auto;
    border: white solid 6px;
    margin-top: 1em;
    box-sizing: border-box;

}

#img1 {
    position: relative;
    width: 290px;
    height: 400px;
    overflow: hidden;
    float: left;
    margin-right: 0.5em;
    border: solid 15px white;
    margin-top: 2em;
    border-top: solid white 30px;
    transform: rotate(2deg);

}

div#img1 img {
    transform: translate(-300px, -90px);
}

div#img2 img {
    transform: translate(-600px, -90px);
}

div#img3 img {
    transform: translate(00px, -100px);
}

#img2 {
    position: relative;
    width: 290px;
    height: 400px;
    overflow: hidden;
    float: left;
    margin-right: 0.5em;
    border: solid 15px white;
    margin-top: 2em;
    border-top: solid white 30px;
    transform: rotate(-8deg);
}

#img3 {
    position: relative;
    width: 290px;
    height: 400px;
    overflow: hidden;
    float: left;
    border: solid 15px white;
    margin-top: 2em;
    border-top: solid white 30px;
    transform: rotate(5deg);

}

header li {
    float: left;
    width: 50%;
    list-style: none;
    color: white;
}

ul:after,
#contenido::after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

footer a {
    background-color: black;
    color: white;
    text-align: center;
    border-top: 8px solid white;
    border-bottom: 4px solid white;

    display: block;
    text-decoration: none;

}

footer ul {
    border-left: solid 2px white;
    border-right: solid 2px white;
}

footer {
    margin-top: 2em;
}




#menu-footer li {
    list-style: none;
    float: left;
    width: 20%;
    color: white;

}